$font-primary: 'Open Sans', Arial, sans-serif;
// Overrides
$grid-gutter-width: 40px; 
$border-radius-base:  4px;
$padding-base-vertical: 14px;

$brand-primary: #2ec42d;
$brand-secondary: #f2f916; 

$brand-white: #fff;
$brand-black: #000;
$brand-lighter: #848484;
$brand-darker: #5a5a5a;
$brand-selection-color: $brand-primary;
$brand-body-color: #fcfcfc;
$brand-body-bg: #fff;
$brand-dark-footer: #222831;


$input-border-focus: $brand-primary;
$form-group-margin-bottom: 30px;



// Mixin
@mixin fh5co-translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}

@mixin transition($transition, $ease: 'ease') {
    -moz-transition:    all $transition unquote($ease);
    -o-transition:      all $transition unquote($ease);
    -webkit-transition: all $transition unquote($ease);
    -ms-transition: 		all $transition unquote($ease);
    transition:         all $transition unquote($ease);
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

// Template Base

body {
	font-family: $font-primary;
	line-height: 1.6;
	font-size: 16px;
	background: $brand-body-bg;
	color: #848484;
	font-weight: 300;
	overflow-x: hidden;
	&.fh5co-offcanvas {
		overflow: hidden;
	}
}
a {
	color: $brand-primary;
	@include transition(.5s, ease);
	&:hover{
		text-decoration: none ;
		color: $brand-primary;
	}
}
p, ul, ol {
	margin-bottom: 1.5em;
	font-size: 16px;
	color: $brand-lighter;
	// font-weight: 300;
	font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-darker;
	font-family: $font-primary;
	font-weight: 400;
	margin: 0 0 30px 0;
}
figure {
	margin-bottom: 2em;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

#fh5co-header{
	position: relative;
	margin-bottom: 0;
	z-index: 9999999;
}
.stuck {
  position:fixed!important;
  top:0!important;
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.05);
	-ms-box-shadow:0 2px 2px rgba(0,0,0,0.05);
	-o-box-shadow:0 2px 2px rgba(0,0,0,0.05);
	box-shadow:0 2px 2px rgba(0,0,0,0.05);
}
.header-top {
	padding: 10px 0;
	background: $brand-primary;
	.fh5co-link {

		a {
			margin-left: 10px;
			font-size: 13px;
			color: rgba(255,255,255,.7);
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				color: rgba(255,255,255,1)!important;
			}
		}
		@media screen and (max-width: $screen-sm) {
			text-align: center;
		}
	}
	.fh5co-social {
		a {
			color: rgba(255,255,255,.7);
			font-size: 14px;
			margin-right: 15px;
			position: relative;
			@include transition(.5s, ease-in-out);
			
			&:last-child {
				margin-right: 0;
			}
			&:hover, &:focus, &:active {
				text-decoration: none;
				color: rgba(255,255,255,1)!important;
				i {
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-ms-transform: scale(1.2);
					-o-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
		@media screen and (max-width: $screen-sm) {
			text-align: center!important;
		}
	}
}
.fh5co-cover,
.fh5co-hero {
	position: relative;
	height: 800px;
	// font-weight: 300;
	@media screen and (max-width :$screen-sm) {
		height: 700px;
	}

	.fh5co-overlay{
		position: absolute !important;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		
		background: rgba(255,62,28,0.5);
		background: -moz-linear-gradient(left, rgba(255,62,28,0.5) 0%,  rgba(255,140,0,.5) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,62,28,0.5)),  color-stop(100%, rgba(255,140,0,.5)));
		background: -webkit-linear-gradient(left, rgba(255,62,28,0.5) 0%,  rgba(255,140,0,.5) 100%);
		background: -o-linear-gradient(left, rgba(255,62,28,0.5) 0%, rgba(255,140,0,.5) 100%);
		background: -ms-linear-gradient(left, rgba(255,62,28,0.5) 0%, rgba(255,140,0,.5) 100%);
		background: linear-gradient(to right, rgb(33 174 12 / 50%) 0%, rgb(2 253 56 / 25%) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e1c', endColorstr='#ff8c00', GradientType=1 );
	}
}

.fh5co-cover{
	background-size: cover;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		heifght: inherit;
		padding: 3em 0;
	}
	.btn {
		padding: 1em 2em;
		opacity: .9;
	}
	&.fh5co-cover_2{
		height: 600px;
		@media screen and (max-width: $screen-sm) {
			heifght: inherit;
			padding: 3em 0;
		}

	}

	.desc{
		top: 40%;
		position: absolute;
		width: 100%;
		margin-top: -80px;
		z-index: 2;
		color: $brand-white;
		
		@media screen and (max-width: $screen-sm) {
			padding-left: 15px;
			padding-right: 15px;
		}
		h2{
			color: $brand-white;
			// text-transform: uppercase;
			font-size: 60px;
			margin-bottom: 10px;
			font-weight: 400!important;
			@media screen and (max-width: $screen-sm) {
				font-size: 40px;
			}
		}
		h3{
			color: $brand-white;
		}
		p {
			display: block;
			margin-bottom: 30px;

			font-size: 16px;
			letter-spacing: 1px;
			color: rgba(255,255,255,.7);
			a{
				color: $brand-white;
				
				&:hover,&:focus{
					color: #fff !important;
					&.btn{
						border: 2px solid #fff !important;
						background: transparent !important;
					}
				}

				&.fh5co-site-name{
					padding-bottom: 2px;
					border-bottom: 1px solid rgba($brand-white,.7);
				}
			}
		}
		.price{
			font-size: 60px;
			font-weight: bold;
		}
		.desc2{
			@media screen and(max-width: $screen-sm){
				display: none;
			}
		}
	}
}

/* Superfish Override Menu */
.sf-menu {
	margin: 7px 0 0 0!important;
}

.sf-menu {
	float: right;
}
.sf-menu ul {
	box-shadow: none;
	border: transparent;
	min-width: 12em; 
	*width: 12em; 
}

.sf-menu a {
	color: rgba(0,0,0,.5);
	padding: .75em 1em!important;
	font-weight: normal;
	border-left: none;
	border-top: none; 
	border-top: none;
	text-decoration: none;
	zoom: 1; 
	font-size: 16px;
	border-bottom: none!important;
	font-weight: bold;

	&:hover,&:focus{
		color: $brand-primary!important;
	}
}
.sf-menu li.active{
	a{
		&:hover,&:focus{
			color: $brand-primary;
		} 
	}
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover  {
	background: transparent;
}
.sf-menu ul li a,
.sf-menu ul ul li a {
	text-transform: none;
	padding: .20em 1em!important;	
	letter-spacing: 1px;
	font-size: 14px!important;
}
.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
	color: $brand-primary;
	// text-shadow: 2px 2px 1px rgba(0, 0, 0, .08);
}
.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
	background: transparent;
}


.sf-menu ul li {
	background: transparent;
}
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em;
}
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #ccc; 
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #ccc; 
}
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #ccc;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: #ccc;
}

#fh5co-header-section{
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 1022;
	background: $brand-white;
}
.nav-header{
	
	position: relative;
	float: left;
	width: 100%;
}

#fh5co-logo{
	position: relative;
	z-index: 2;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 35px;
	font-weight: 700;
	float: left;
	padding-left: 40px;
	i{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 16px;
		color: $brand-primary;
		background: rgba($brand-black,.06);
		padding: 10px;
		@include border-radius(50%);
	}

	a{
		color: $brand-primary;
		&:hover,&:focus{
			color: $brand-primary !important;
		}
	}
	
}

#fh5co-menu-wrap {
	position: relative;
	z-index: 2;
	display: block;
	float: right;
	margin-top: 15px;
	.sf-menu a {
		padding: 1em .75em;
	}
}
#fh5co-primary-menu {
	> li {
		> ul {
			li {
				&.active > a {
					color: $brand-primary!important;
				}
			}
		}
		> .sf-with-ul {
			&:after {
				border: none!important;
				@include icomoon();
				position: absolute;
				float: right;
				margin-right: -0px;
				top: 50%;
				font-size: 12px;
				margin-top: -7px;
				content: "\e922";
				color: rgba(0,0,0,.5);
			}
		}
		> ul {
			li {
				position: relative;
				> .sf-with-ul {
					&:after {
						border: none!important;
						@include icomoon();
						position: absolute;
						float: right;
						margin-right: 10px;
						top: 20px;
						font-size: 12px;
						content: "\e924";
						color: rgba(0,0,0,.5);
					}
				}
			}
		}
	}	
}
#fh5co-primary-menu .fh5co-sub-menu {
	padding:10px 7px 10px;
	background: $brand-white;
	left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	-moz-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	-ms-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	-o-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	box-shadow:0 5px 15px rgba(0,0,0,0.15);
	> li {
		> .fh5co-sub-menu {
			left: 100%;
		}	
	}
	
}

#fh5co-primary-menu .fh5co-sub-menu:before {
	position:absolute;
	top:-9px;
	left:20px;
	width:0;
	height:0;
	content:'';
}

#fh5co-primary-menu .fh5co-sub-menu:after {
	position:absolute;
	top:-8px;
	left:21px;
	width:0;
	height:0;
	border-right:8px solid transparent;
	border-bottom:8px solid $brand-white;
	border-bottom:8px solid rgba(255, 255, 255, 1);
	border-left:8px solid transparent;
	content:'';
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
	top:6px;
	left:100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
	top:7px;
	right:100%;
	border: none!important;
}

.site-header.has-image #primary-menu .sub-menu {
	border-color:#ebebeb;
	-webkit-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	-moz-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	-ms-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	-o-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	&:before {
		display:none;	
	}
}
#fh5co-primary-menu .fh5co-sub-menu a {
	letter-spacing: 0;
	padding:0 15px;
	font-size:18px;
	line-height:34px;
	color: #575757 !important;
	text-transform:none;
	background:none;
	&:hover {
		color: $brand-primary!important;
	}
}


.tabulation{
	width: 100%;
	float: left;
	margin-top: -7em;
	background: rgba($brand-white,.95);
	-webkit-box-shadow: 0px 43px 83px -20px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 43px 83px -20px rgba(0,0,0,0.41);
	-ms-box-shadow: 0px 43px 83px -20px rgba(0,0,0,0.41);
	-o-box-shadow: 0px 43px 83px -20px rgba(0,0,0,0.41);
	box-shadow: 0px 43px 83px -20px rgba(0,0,0,0.41);
	label{
		color: rgba($brand-black,.5);
		font-size: 14px;
		@media screen and(max-width: $screen-xs){
			width: 40%;
		}
	}
	input[type="text"] {
		background: rgba(0,0,0,.05);
		border: none;
		box-shadow: none;
		font-weight: bold;
		font-size: 14px;
		padding: 5px 10px !important;
		@include border-radius(0);
		color: $brand-primary !important;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $brand-primary !important;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: $brand-primary !important;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: $brand-primary !important;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: $brand-primary !important;
		}
		@media screen and(max-width: $screen-xs){
			width: 55%;
			float: right;
		}
	}
	.cs-select{
		@media screen and(max-width: $screen-xs){
			width: 55%;
			float: right;
		}
	}
}

.tab-content{
	padding: 30px;
	.btn{
		border: 1px solid red !important;
	}
}

.nav-tabs{
	border: none;	
	a{
		border: none !important;
		font-weight: bold;
		padding: 15px 20px !important;
		@include border-radius(0);
		@media screen and (max-width: $screen-sm){
			font-weight: normal;
			font-size: 13px;
			padding: 15px 10px !important;
		}
	}
	.active{
		a{
			border: none !important;
			background: $brand-primary !important;
			color: $brand-white !important;
			font-weight: bold;
			@include border-radius(0);
		}
	}
	&:hover, &:focus{
		a{
			border: none !important;
			@include border-radius(0);
		}
	}
}
.mt{
	margin-bottom: 20px;
}


// Select Style Override
div.cs-select{
  span{
    padding: 10px 10px;
  }
}

.cs-skin-border  {
  font-size: 16px;
  color: #fff;
  @media screen and (max-width: 829px) {
    max-width: 829px!important;
  }
  @media screen and (max-width: 30em) {
    font-size: 16px;
  }
  span{
  	font-size: 13px;
  	&:hover{
  		background: rgba(0,0,0,.05) !important;
  	}
  }
  > span {
    border: transparent; 
    background: rgba(0,0,0,.05);
    color: $brand-primary;
    &::after {
      font-size: 14px!important;
      content: '\e94d' !important;
      font-family: "icomoon";
    }
  }
  .cs-selected {
		> span {
		&::after {
		  font-size: 14px!important;
		}
		}
  }
}
.cs-skin-border.cs-active > span{
	background: rgba(0,0,0,.05) !important;
	color: $brand-primary;
}
.cs-select .cs-options {
   -webkit-box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);
	-ms-box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);
	-o-box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);
	box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);
}

#fh5co-work-section,
#fh5co-car,
#fh5co-blog-section,
#fh5co-features,
#fh5co-tours,
#fh5co-testimonial,
.fh5co-content-section {
	padding: 7em 0;
	@media screen and (max-width: $screen-sm) {
		padding: 4em 0;
	}

}
.fh5co-section-gray{
	background: rgba($brand-black,.04);
}

.heading-section{
	padding-bottom: 1em;
	margin-bottom: 5em;
	&:after{
		position: absolute;
		content: '';	
		bottom: 0;
		left: 50%;
		width: 100px;
		margin-left: -50px;
		height: 2px;
		background: $brand-primary;
	}

	h3{
		font-size: 40px;
		font-weight: 400;
		position: relative;
	}
	p {
		font-size: 20px;
	}
}


.heading-title{
	font-size: 40px;
	margin-bottom: 1.5em;
}
.fh5co-tours {
	margin-bottom: 30px;
	> div {
		display: block;
		color: $brand-black;
		position: relative;
		bottom: 0;
		overflow: hidden;
		@include transition(.5s);
		img {
			position: relative;
			@include transition(.5s);
		}
		&:after {
			opacity: 1;
			visibility: visible;
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			background: rgba(0, 0, 0, .3);
			z-index: 8;
			@include transition(.5s)
		}
		.desc{
			position: absolute;
			// top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 30px;
			z-index: 12;
			@include transition(.3s);
			h3 {
				color: $brand-white;
				margin: 0;
				padding: 0;
				opacity: 1;
				font-size: 30px;
				font-weight: 400;
				visibility: visible;
				margin-bottom: 5px;
				@include transition(.3s);
			}
			span{
				display: block;
				color: rgba($brand-white,.9);
				margin-bottom: 5px;
			}
			.price{
				font-size: 30px;
				font-weight: bold;
				color: $brand-white;
			}
			.btn{
				opacity: 1;
				border: 2px solid $brand-white !important;
				color: $brand-white !important;
				letter-spacing: 1px !important;
				font-weight: 400 !important;
				&:hover, &:focus, &:active {
					border: 2px solid $brand-primary !important;
					background: $brand-primary !important;
					color: $brand-white !important;
				}
			}
		}
		&:hover {
			-webkit-box-shadow: 0px 18px 71px -10px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 18px 71px -10px rgba(0,0,0,0.75);
			box-shadow: 0px 18px 71px -10px rgba(0,0,0,0.75);

			&:after {
				opacity: 1;
				visibility: visible;
				-webkit-box-shadow: inset 0px -34px 98px 8px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 0px -34px 98px 8px rgba(0,0,0,0.75);
				-ms-box-shadow: inset 0px -34px 98px 8px rgba(0,0,0,0.75);
				-o-box-shadow: inset 0px -34px 98px 8px rgba(0,0,0,0.75);
				box-shadow: inset 0px -34px 98px 8px rgba(0,0,0,0.75);
				background: rgba(0, 0, 0, .2);
				@media screen and (max-width: $screen-sm ) {
					opacity: 0;
					visibility: hidden;
				}
			}
			img {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);

				@media screen and (max-width: $screen-sm ) {
					
					-webkit-transform: scale(1.0);
					-moz-transform: scale(1.0);
					-o-transform: scale(1.0);
					transform: scale(1.0);
				}
			}
		}
	}
}

.flight-book{
	width: 100%;
	float: left;
	margin-bottom: 1px;
	@include flexwrap;
	@include flex;
	.plane-name{
		width: 40%;
		float: left;
		padding: 6px 20px;
		background: $brand-primary;
		.p-flight{
			font-size: 18px;
			color: $brand-white;
		}
	}
	.desc{
		width: 60%;
		float: right;
		background: $brand-secondary;
		padding: 6px 20px;
		.left{
			float: left;
		}
		h4, span{
			color: $brand-white;
		}
		h4{
			margin-bottom: 0;
		}
		.right{
			float: right;
			font-size: 25px;
			i{
				font-weight: 300;
			}
			.price{
				font-weight: 400;
			}
		}
	}
}

#fh5co-car{
	.car{
		@include flexwrap;
		@include flex;
		width: 100%;
		float: left;
		margin-bottom: 30px;
		.one-4{
			width: 40%;
			float: left;
			background: $brand-primary;
			padding: 30px;
			h3, span{
				color: $brand-white;
			}
			span{
				display: block;
				font-weight: 400;
				font-size: 20px;
			}
			small{
				font-size: 14px;
			}
		}
		.one-1{
			width: 60%;
			float: right;
			height: auto;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

.feature-left {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	
	.icon {
		float: left;
		text-align: center;
		width: 15%;
		@media screen and (max-width: $screen-md) {
			width: 10%;
		}
		@media screen and (max-width: $screen-sm) {
			width: 15%;
		}
		i {
			display: table-cell;
			vertical-align: middle;
			font-size: 40px;
			color: $brand-primary;
		}
	}
	.feature-copy {
		float: right;
		width: 80%;
		@media screen and (max-width: $screen-md) {
			width: 90%;
		}
		@media screen and (max-width: $screen-sm) {
			width: 85%;
		}
		@media screen and (max-width: $screen-xs) {
			width: 80%;
		}

		h3 {
			font-size: 18px;
			color: lighten($brand-black, 10%);
			margin-bottom: 10px;
		}
		p {
			font-size: 16px;
			line-height: 1.8;
			margin-bottom: 10px;
		}
	}
}


#fh5co-destination{
	width: 100%;
	padding: 0;
	margin: 0;
}

#fh5co-destination-list {
	@include flexwrap;
	@include flex;
	position: relative;
	float: left;
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	li {
		display: table;
		padding: 0;
		margin: 0;
		list-style: none;
		min-height: 220px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		float: left;
		clear: left;
		position: relative;
		@media screen and (max-width: $screen-xs) {
			margin-left: 0;
		}
		.title-bg{
			min-height: 220px;
			padding: 2em;
			position: relative;
			width: 100%;
			display: table-cell;
			vertical-align: middle;
			background: $brand-secondary;
			z-index: 12;
			h2{
				color: $brand-white;
		   	margin-bottom: 20px;
		   	font-size: 40px;
			}
			span{
	   		text-transform: uppercase;
	   		letter-spacing: 2px;
	   		a{
	   			color: $brand-white;
	   			font-size: 13px;
	   			font-weight: 400;
	   			border: 1px solid $brand-white;
	   			padding: 5px 7px;
	   			@include border-radius(4px);
	   		}
	   	}
	   	@media screen and (max-width: $screen-sm){
	   		h2{
	   			font-size: 24px;
	   		}
	   	}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			background: rgba(0, 0, 0, .4);
			z-index: 8;
			@include transition(.5s)
		}
		> a {
			min-height: 220px;
			padding: 2em;
			position: relative;
			width: 100%;
			display: table-cell;
			vertical-align: middle;
		   z-index: 12;
		   &:after{
				position: absolute;
				top: 20px;
				bottom: 20px;
				left: 20px;
				right: 20px;
				content: "";
				border: 2px solid rgba($brand-white,.8);
				opacity: 0;
				@include transition(.3s);
			}
			
			.case-studies-summary {
			   width: auto;

			   @media screen and (max-width: $screen-sm) {
			   	bottom: 1em;
				   left: 1em;
				   right: 1em;
			   }
			   span {
			   	text-transform: uppercase;
			   	letter-spacing: 2px;
			   	font-size: 13px;
			   	color: rgba(255,255,255,.7);
			   }
			   h2 {
			   	color: $brand-white;
			   	margin-bottom: 0;
			   	font-size: 24px;
			   	font-weight: 400;
			   	@include transition(.1s);
			   	@media screen and (max-width: $screen-sm) {
			   		font-size: 24px;
			   	}
			   }
			}
		}
		&:hover{
			&:after{
				-webkit-box-shadow: inset 0px 0px 91px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 0px 0px 91px 0px rgba(0,0,0,0.75);
				-ms-box-shadow: inset 0px 0px 91px 0px rgba(0,0,0,0.75);
				-o-box-shadow: inset 0px 0px 91px 0px rgba(0,0,0,0.75);
				box-shadow: inset 0px 0px 91px 0px rgba(0,0,0,0.75);
				background: rgba(0, 0, 0, .3);
			}
			> a{
				&:after{
					opacity: 1;
				}
				.case-studies-summary {
					h2{
						margin-top: -5px;
					}
				}
			}
		}
		&.two-third {
			width: 65.6%;
			@media screen and (max-width: $screen-sm) {
				width: 49%;	
			}
			@media screen and (max-width: $screen-xs) {
				width: 100%;	
			}
		}	
		&.one-third {
			width: 32.3%;
			@media screen and (max-width: $screen-sm) {
				width: 49%;	
			}
			@media screen and (max-width: $screen-xs) {
				width: 100%;	
			}
		}
		&.one-forth {
			width: 25%;
			@media screen and (max-width: $screen-sm) {
				width: 49%;	
			}
			@media screen and (max-width: $screen-xs) {
				width: 100%;	
			}
		}
		&.one-half {
			width: 50%;
			@media screen and (max-width: $screen-xs) {
				width: 100%;	
			}
		}
		
	}
	
}

// TESTIMONIAL
#fh5co-testimonial {
	position: relative;
	background: $brand-secondary;
	.fh5co-heading {
		h2 {
			color: rgba(255,255,255,1);
		}
	}
	.box-testimony {
		margin-bottom: 2em;
		float: left;
		a {
			color: rgba(255,255,255,.5);
			&:hover, &:focus, &:active {
				color: rgba(255,255,255,1);
				text-decoration: none;
			}
		}
		blockquote {
			padding-left: 0;
			border-left: none;
			padding: 40px;
			background: $brand-white;
			
			position: relative;
			@include border-radius(4px);
			&:after {
			   content: "";
			   position: absolute;
			   top: 100%;
			   left: 40px;
			   border-top: 15px solid black;
			   border-top-color: $brand-white; 
			   border-left: 15px solid transparent;
			   border-right: 15px solid transparent; 
			}
			.quote {
				position: absolute;
				top: 0;
				left: 10px;
				text-align: center;
				font-size: 30px;
				line-height: 0;
				display: table;
				color: $brand-white;
				width: 56px;
				height: 56px;
				margin-top: -30px;
				background: $brand-secondary;
				@include border-radius(50%);
				> span {
					display: table-cell;
					vertical-align: middle;
				}
			}
			p {
				// font-style: italic;
				letter-spacing: 1px;
			}
		}
		.author {
			line-height: 20px;
			color: rgba(255,255,255,1);
			font-size: 20px;
			margin-left: 20px;
			.subtext {
				display: block;
				color: rgba(255,255,255,.5);
				font-size: 16px;
			}
		}
	}
}



#fh5co-features {
	padding: 7em 0;


	.feature-left {
		margin-bottom: 40px;
		@media screen and (max-width: $screen-md) {
			margin-bottom: 30px;
		}
		.icon {
			i {
				color: lighten($brand-black, 85%)!important;
			}
		}

		.icon {
			float: left;
			text-align: center;
			width: 15%;
			@media screen and (max-width: $screen-md) {
				width: 10%;
			}
			@media screen and (max-width: $screen-sm) {
				width: 15%;
			}
		}
		.feature-copy {
			float: right;
			width: 80%;
			@media screen and (max-width: $screen-md) {
				width: 90%;
			}
			@media screen and (max-width: $screen-sm) {
				width: 85%;
			}
			@media screen and (max-width: $screen-xs) {
				width: 80%;
			}
		}
		h3 {
			font-size: 16px;
			font-weight: 700;
		}
		p {
			font-size: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
// #fh5co-feature-product {
// 	padding: 7em 0;
// }

#fh5co-services, 
#fh5co-about, 
#fh5co-contact {
	padding: 7em 0;
	@media screen and (max-width: $screen-sm) {
		padding: 4em 0;
	}
}


#fh5co-services {
	.fh5co-number {
		font-size: 30px;
		color: $brand-primary;
		position: relative;
		padding-top: 10px;
		font-style: italic;
		@include inline-block;
		&:before {
			position: absolute;
			content: "";
			width: 100%;
			height: 3px;
			top: 0;
			left: 0;
			background: $brand-primary;

		}
	}
	.fh5co-icon {
		margin-bottom: 30px;
		margin-top: 50px;
		position: relative;
		@include inline-block;
		@media screen and (max-width: $screen-sm) {
			margin-top: 0px;
			float: none;
		}
		i {
			font-size: 200px;
			color: $brand-primary;
			@media screen and (max-width: $screen-sm) {
				font-size: 100px;
			}
		}
	}
}

#fh5co-contact {
	.contact-info{
		margin: 0;
		padding: 0;
		li{
			// font-size: 16px;
			list-style: none;
			margin: 0 0 20px 0;
			position: relative;
			padding-left: 40px;

			i{
				position: absolute;
				top: .3em;
				left: 0;
				font-size: 22px;
				color: rgba($brand-black,.3);
			}
			a{
				font-weight: 400!important;
				color: rgba($brand-black,.3)
			}
			
		}
	}
	.form-control {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		border: none;
		border: 1px solid rgba(0,0,0,.1);
		font-size: 18px;
		
		font-weight: 400;
		@include border-radius(0px);
		
		&:focus, &:active {
			border-bottom: 1px solid rgba(0,0,0,.5);
		}

	}
	input[type="text"] {
		height: 50px;
	}
	.form-group {
		margin-bottom: 30px;
	}
}

.fh5co-testimonial, .fh5co-team{
	position: relative;
	background: $brand-white;
	padding: 30px;
	border-radius: 5px;
	margin-bottom: 30px;

	@media screen and (max-width: $screen-sm) {
		border-right: 0;
		margin-bottom: 80px;
	}

	h2{
		font-size: 16px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 50px;
	}
	figure{
		position: relative;
		top: 0px;
		background-size: cover;
		margin-bottom: 20px;
		img{
			width: 130px;
			height: 130px;
			border: 10px solid $brand-white;
			background-size: cover;
			@include border-radius(50%);
		}
	}

	> div {
		padding: 30px 30px 0 30px;
		h3 {
			margin-bottom: 0;
			font-size: 20px;
			color: $brand-primary;
		}
		.position {
			color: lighten($brand-black, 85%);
			margin-bottom: 30px;
		}
	}
	> div, 
	blockquote{
		border: none;
		padding: 0;
		margin-bottom: 20px;
		p{
			font-size: 16px;
			line-height: 1.5;
			color: #555555;
		}

	}
	
	span{
		font-style: italic;
		color: lighten($brand-black, 70%);
	}
}

.fh5co-testimonial {
	p {
		.text-mute {
			color: #ccc!important;
		}
	}
}

.fh5co-blog{
	margin-bottom: 60px;
	a{
		img{
	
			width: 100%;

			&:hover{
			}
		}
	}
	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}
	.blog-text {
		margin-bottom: 30px;
		position: relative;
		background: $brand-white;
		width: 100%;
		padding: 30px;
		float: right;
		// margin-top: -1em;
		-webkit-box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);
		-moz-box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);
		box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.18);

		span{
			display: inline-block;
			margin-bottom: 20px;
			&.posted_by{
				font-style: italic;
				color: rgba($brand-black,.3);
				font-size: 18px;
			}
			&.comment{
				float: right;
				a{
					color: rgba($brand-black,.3);
					i{
						color: $brand-primary;
						padding-left: 7px;
					}
				}
			}
		}

		h3{
			font-size: 20px;
			margin-bottom: 20px;
			font-weight: 400;
			line-height: 1.5;
			a{
				color: rgba($brand-black,.6);
			}
		}
	}
}

#fh5co-start-project-section{
	padding: 7em 0;
	background: #F64E8B;
	h2{
		color: rgba(255,255,255,1);
		font-size: 60px;
		text-transform: uppercase;
		font-weight: 300;
		@media screen and (max-width: $screen-sm) {
			font-size: 30px;
		}
	}
	a{
		&:hover, &:focus, &:active {
			color: rgba(255,255,255,1)!important;
		}
	}
}


// Map
#map {
	width: 100%;
	height: 500px;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}

.fh5co-social-icons {
	> a {
		padding: 4px 10px;
		color: $brand-primary;

		i{
			font-size: 26px;
		}
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $brand-darker;
		}
	}
}

#footer{
	background: #393e46;
	padding: 60px 0 40px;

	p{
		color: rgba($brand-white,.7);
		// letter-spacing: 1px;
		font-size: 14px;
		// text-transform: uppercase;
		a{
			color: rgba($brand-white,.5);
			&:hover, &:active, &:focus {
				color: rgba($brand-white,.9)!important;
			}
		}
	}

	.fh5co-footer-link {
		padding-bottom: 30px;
		h3 {
			color: $brand-white;
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 25px;
		}
		li, ul {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
			margin-bottom: 15px;
			line-height: 1.3;
			a {
				color: rgba(255,255,255,.5);
				&:hover, &:active, &:focus {
					color: $brand-white!important;
				}
			}
		}
	}
}


.btn {
	@include transition(.3s);
}

.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	@include transition(.3s);
	&.btn-primary {
		background: $brand-primary;
		color: $brand-white;
		border: none!important;
		border: 2px solid transparent!important;
		&:hover, &:active, &:focus {
			box-shadow: none;
			background: $brand-primary;
			color: $brand-white!important;
		}
	}
	&:hover, &:active, &:focus {
		background: #393e46!important;
		color: $brand-white;
		outline: none!important;
	}
	&.btn-default {
		&:hover, &:focus, &:active {
			border-color: transparent;
		}
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary !important;
		&:hover, &:focus, &:active {
			background: $brand-primary !important;
			color: $brand-white !important;
		}
	}
}

.tab-content{
	.btn{
		letter-spacing: 0;
		text-transform: none;
		font-weight: bold;
		font-size: 18px;
	}
}

.animate-box {
	.js & {
		opacity: 0;
	}
}



#fh5co-wrapper {
	overflow-x: hidden;
	position: relative;
}
.fh5co-offcanvas {
	overflow: hidden;
	#fh5co-wrapper {
		overflow: hidden!important;
	}
}

#fh5co-page {
	position: relative;
	@include transition(.5s);
	.fh5co-offcanvas & {
		@include fh5co-translateX(-240px);
	}
}

// offcanvas
#fh5co-menu-wrap {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}
#offcanvas-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 99;
	background: #222;
	right: -240px;
	width: 240px;
	padding: 20px;
	overflow-y: scroll!important;
	display: none;
	@media screen and (max-width: $screen-sm) {
		display: block;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0 0 10px 0;
			list-style: none;
			a {
				font-size: 18px;
				color: rgba(255,255,255,.4);
				&:hover {
					color: $brand-primary;
				}
			}
			> .fh5co-sub-menu {
				margin-top: 9px;
				padding-left: 20px;
			}
			&.active {
				> a {
					color: $brand-primary;
				}
			}
		}
		.fh5co-sub-menu {
			display: block!important;
		}
	}
}



// Burger Menu
.fh5co-nav-toggle {
 
  cursor: pointer;
  text-decoration: none;
  &.active i {
		&::before, &::after {
			background: $brand-white;
		}
  }
  &.dark {
  	&.active i {
			&::before, &::after {
				background: $brand-white;
			}
	  }
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  @include inline-block;
	  width: 30px;
	  height: 2px;
	  color: $brand-white;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: $brand-white;
	  transition: all .2s ease-out;
		 &::before, &::after {
	  	  content:'';
		  width: 30px;
		  height: 2px;
		  background: $brand-white;
		  position: absolute;
		  left:0;
		  @include transition(.2s);
	  }
  }
  &.dark {
  	i {
	  	position: relative;
		  color: $brand-black;
		  background: $brand-black;
		  transition: all .2s ease-out;
			 &::before, &::after {
			  background: $brand-black;
			  @include transition(.2s);
		  }
	  }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  	position: absolute;
  	top: 0px;
	right: 0px;
	z-index: 9999;
	display: block;
	margin: 0 auto;
	display: none;
	cursor: pointer;
  	@media screen and (max-width: $screen-sm) {
  		display: block;
  		top: 0px;
  		margin-top: 2em;
  	}
  
}



// // Helper Class

.col-xxs-12 {
	@media screen and (max-width: 480px) {
		float: none;
		width: 100%;
	}
}

.row-bottom-padded-lg {
	padding-bottom: 7em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}
}
.row-top-padded-lg {
	padding-top: 7em;
	@media screen and (max-width: $screen-sm ) {
		padding-top: 2em;
	}
}
.row-bottom-padded-md {
	padding-bottom: 4em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}	
}
.row-top-padded-md {
	padding-top: 4em;
	@media screen and (max-width: $screen-sm ) {
		padding-top: 2em;
	}	
}
.row-bottom-padded-sm {
	padding-bottom: 2em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}	
}
.row-top-padded-sm {
	padding-top: 2em;
	@media screen and (max-width: $screen-sm ) {
		padding-top: 2em;
	}	
}

.border-bottom {
	border-bottom: 1px solid rgba($brand-black,.06);
}

.lead {
	line-height: 1.8;
}

.no-js #loader { 
	display: none;  
}
.js #loader { 
	display: block; position: absolute; left: 100px; top: 0; 
}
.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/hourglass.svg) center no-repeat #222222;
}


